/* Global Styling */
body {
    margin: 0;
    background-color: black;
    color: #ffffff;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; /* Pusatkan konten secara horizontal */
    align-items: center;    /* Pusatkan konten secara vertikal */
    height: 100vh;          /* Tinggi penuh layar */
}

/* Sidebar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #434242;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #860000;
    color: white;
}

li a:hover:not(.active) {
    background-color: #dc0058;
    color: white;
}

/* Table Styling */
table {
    background-color: #434242;
    border-collapse: collapse;
    width: 100%;
    color: #ffffff;
}

th {
    border: 1px solid #ffffff;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ffffff;
}

td a:link,
td a:visited {
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Add Button Styling */
.add-container {
    text-align: center;
    margin: 20px 0;
}

.add {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: blue;
    padding: 10px 0;
    width: 100%;
}

/* Pagination Styling */
.pagination {
    text-align: center;
    margin-top: 20px;
    float: bottom;
}

.pagination a {
    margin: 0 10px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background-color: blue;
    border-radius: 5px;
}

.pagination span {
    margin: 0 10px;
}

/* Login Form Styling */
.login-container {
    width: 300px;
    background-color: #434242;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #860000;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #dc0058;
    text-shadow: 1px 1px 3px #860000;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    color: #dc0058;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #2e2e2e;
    border: 2px solid #860000;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #dc0058;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #860000;
    transform: scale(1.05);
}

a {
    display: block;
    margin-top: 10px;
    color: #dc0058;
    text-decoration: none;
}

a:hover {
    color: #860000;
}

p {
    margin-top: 10px;
    color: red;
}
  