<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Picture/The Ultimate Students Manager icon.png') }}">
    <title>The Ultimate Students Manager</title>
</head>
<body>
    <form action="{{ url_for('form_create') }}" method="POST">
        <h2>Add New Task</h2>

        <label for="content">Nama Tugas</label>
        <input type="text" name="nama" id="nama" placeholder="Task name required" required>
        <label for="dead">Tanggal Deadline</label>
        <input type="datetime-local" name="dead" id="dead">
        <button type="submit">Add Task</button>
    </form>
</body>
</html>

