{% extends 'bone.html' %}

{% block nav %}
<nav>
    <ul>
        <li><a href="/index" class="active">Home</a></li>
        <li><a href="/task">Task</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
{% endblock %}
{% block body %}
<div class="content">
  <header>
    <h1>Welcome to My Creative Hub!</h1>
    <p>Where Ideas and Innovation Come to Life</p>
  </header>
  <div class="gallery">
    <div class="gallery-item">
      <img src="static\Picture\The Ultimate Students Manager icon.png" alt="The Ultimate Students Manager">
    </div>
    <div class="gallery-item">
      <span>+</span> 
    </div>
    <div class="gallery-item">
      <span>+</span>
    </div>
    <div class="gallery-item">
      <span>+</span> 
    </div>
    <div class="gallery-item">
      <span>+</span> 
    </div>
    <div class="gallery-item">
      <span>+</span> 
    </div>
    <div class="gallery-item">
      <span>+</span> 
    </div>
    <div class="gallery-item">
      <span>+</span> 
    </div>
  </div>
{% endblock %}